

.image{
  width: 350px;
  border-radius: 0.5rem;
  border: 1px gray solid;
  padding: 0.5rem;
  background-color: inherit;
}
.text-blue{
  color: #0984e3;
}
.image img{
  width: 340px;

}
.row{
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
}
.col{
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

a{
  color: currentColor;
}

textarea{
  resize: none;
}

textarea,input{
  border: none;
  background: none;
  outline: none;
  padding: 0.5rem;
}
button{
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.primary-btn,.secundary-btn{
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.primary-btn{
  background-color: #0984e3;

}
.secundary-btn{
  background-color: #00cec9;

}
.w-05{
  width: 0.5rem;
}
.grid {
  display: grid;
  width: 100%;
  place-items: center;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #333;
    color: white;
  }  
  button{
    color: white;
  }
  textarea,input{
    color: white;
  }
  .image{
    background-color: #222;
    border: none;
  }
}
